/* http://www.colourlovers.com/palette/3169507/2014_Web_UI */

/* 3B3F4C */
/* 414755 */
/* 5E626C */
/* D8D9DE */
/* FFD074 */

body { background-color: #D8D9DE; }

table { background-color: #EFEFEF; }

/* General */
.display-none { display: none; }

.text-align-center { text-align: center; }

.margin-0 { margin: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }
.margin-t-0 { margin-top: 0; }
.margin-5 { margin: 5px; }
.margin-b-5 { margin-bottom: 5px; }
.margin-l-5 { margin-left: 5px; }
.margin-r-5 { margin-right: 5px; }
.margin-t-5 { margin-top: 5px; }
.margin-10 { margin: 10px; }
.margin-b-10 { margin-bottom: 10px; }
.margin-l-10 { margin-left: 10px; }
.margin-r-10 { margin-right: 10px; }
.margin-t-10 { margin-top: 10px; }
.margin-20 { margin: 20px; }
.margin-b-20 { margin-bottom: 20px; }
.margin-l-20 { margin-left: 20px; }
.margin-r-20 { margin-right: 20px; }
.margin-t-20 { margin-top: 20px; }
.padding-0 { padding: 0; }
.padding-b-0 { padding-bottom: 0; }
.padding-l-0 { padding-left: 0; }
.padding-r-0 { padding-right: 0; }
.padding-t-0 { padding-top: 0; }

.width-20 { width: 20px; }
.width-200 { width: 45%; }

.bs3-btn-padding { padding: 6px 12px; }

h1.page-header { margin: 0 0 20px 0; }

.btn-navy { background-color: #3B3F4C; border-color: #CCCCCC; color: #999999; }
.btn-navy:hover { color: #FFFFFF; }
.btn-navy:focus { color: #FFD074; }

/* Installer */
#installing-loader { font-size: 56px; }

/* Navbar */
.navbar { background-color: #3B3F4C; }
.navbar-inverse .navbar-nav>.active>a { background-color: #5E626C; }
.navbar-inverse .navbar-nav>.active>a:hover { background-color: #FFD074; color: #3B3F4C; }
.navbar-inverse .navbar-brand { color: #FFD074; }
.navbar-inverse .navbar-toggle .icon-bar { background-color: #FFD074; }

.navbar-nav.navbar-right:last-child { margin-right: -1px; }
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #23262E; color: #3B3F4C; }

.navbar-inverse .navbar-nav .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .dropdown-menu>.active>a:focus { background-color: #5E626C; }
.navbar-inverse .navbar-nav .dropdown-menu>.active>a:hover { background-color: #FFD074; color: #3B3F4C; }

/* Login Panel */
.form-signin { margin: 0 auto; padding: 15px; width: 330px; }
.form-signin .form-signin-heading, .form-signin .checkbox { margin-bottom: 10px; }
.form-signin .checkbox { font-weight: normal; }
.form-signin .form-control { font-size: 16px; height: auto; padding: 10px; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.form-signin .form-control:focus { z-index: 2; }
.form-signin input[type="text"] { border-bottom-left-radius: 0; border-bottom-right-radius: 0; margin-bottom: -1px; }
.form-signin input[type="password"] { border-top-left-radius: 0; border-top-right-radius: 0; margin-bottom: 10px; }

/* Jumbotron */
.jumbotron h1 { font-size: 34px; margin-top: 0; }

/* Panels */
.panel .btn { margin: 0 5px 5px 0; }
.panel-navy { border-color: #3B3F4C; }
.panel-navy>.panel-heading { background-color: #3B3F4C; }
.panel-navy>.panel-heading>.panel-title { color: #FFD074; }
.panel-navy .nav-pills>li>a { color: #3B3F4C; }
.panel-navy .nav-pills>li.active>a,.panel-navy .nav-pills>li.active>a:focus { background-color: #5E626C; color: #fff; }
.panel-navy .nav-pills>li.active>a:hover { background-color: #FFD074; color: #3B3F4C; }

/* Tab Pane */
.nav.nav-tabs li .label { font-weight: normal; font-size: 100%; }
.tab-pane { background-color: #FFF; border: 1px solid #ddd; border-top: 0; padding: 20px; }

/* Images */
.img-caption { background-color: rgba(0,0,0,0.5); bottom: 25px; color: #fff; left: 0; padding: 5px 0; position: absolute; text-align: center; width: 100%; }

/* List Group */
a.list-group-item.active { background-color: #3B3F4C; border-color: #3B3F4C; }
a.list-group-item.active>.badge { color: #3B3F4C; }
a.list-group-item>.badge { background-color: #3B3F4C; }

/* Gravatar */
.gravatar { background-color: #fff; border-radius: 4px; height: 250px; width: 250px; }
.gravatar, .gravatar img { position: relative; }

/* Standings */
.circliful-standings-block { border: 1px solid #CCCCCC; border-radius: 4px; margin: 0 20px 20px 0; }

/* Add Match */
#match_wrapper form { border: 1px solid #EEEEEE; margin: 0 auto; padding: 20px 6px; width: 850px; }
#match_wrapper .player-area { text-align: center; width: 380px; }
#match_add_form .player-area .control-label { padding: 8px 0; }
#match_wrapper .verses { font-size: 36px; line-height: 117px; padding: 0 20px; }
#match_wrapper .radio { padding-left: 0; }
#match_wrapper .radio label { padding: 10px 65px 10px 42px; }
#match_wrapper .radio input { margin: 0 0 0 10px; }
#match_wrapper .btm-form { margin-top: 5px; text-align: center; width: 100%; }

#match_created_form { display: none; position: relative; }
#match_created_form #player1-msg, #match_created_form #player2-msg { height: 40px; }
#match_created_form #player1-msg .label, #match_created_form #player2-msg .label { font-size: 100%; }
#match_created_form label.control-label { /*border: 1px solid #000000;*/ font-size: 16px; margin-bottom: 20px; padding: 10px 20px; }
#match_created_form label.serving { background-color: #d9edf7; border-color: #31708F; border-radius: 4px; }
#match_created_form .lead { margin-right: 4px; text-align: right; width: 140px; }

#match_created_form #match-updating { position: absolute; right: 20px; bottom: 0; }

form .counters { height: 30px; margin-right: 10px; width: 60px; }

@media (max-width: 1199px) {
	#match_wrapper form { width: 700px; }
	#match_wrapper .player-area { width: 302px; }
}
@media (max-width: 991px) {
	#match_wrapper form { width: 532px; }
	#match_wrapper .verses { line-height: 114px; padding: 0 10px; }
	#match_wrapper .player-area { width: 228px; }
}

/* Matches */
.filter-area { margin: 0 0 20px 0; }
.table-striped tr.success td, .table-striped tr td.success { background-color: #DFF0D8!important; }
.table td.border-left-right { border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD; }
.more-stats { cursor: pointer; }

/* Live Match */
#table-tennis { background-color: #306048; border: 1px solid #000000; height: 420px; margin: 0 auto; position: relative; width: 756px; }
#center-stripe { background-color: #FFFFFF; height: 4px; position: absolute; top: 209px; width: 754px; z-index: 10; }
#net { background-color: #000000; left: 373px; height: 418px; width: 8px; position: absolute; z-index: 20; }
.side { border: 4px solid #FFF; color: #FFFFFF; height: 418px; width: 373px; }
.side .player { font-size: 26px; padding: 30px 0; text-align: center; }
.side .score { font-size: 36px; padding: 0 0 30px 0; text-align: center; }

/* Service Ball */
#pong-ball-ntohing {

			border-radius: 50%;
			display: inline-block;
			margin-right: 20px;
	width: 200px;
	height: 200px;

	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);

	background-image: -webkit-radial-gradient(45px 45px, circle cover, #BFBFBF, #FFF);


			/* webkit chrome, safari, mobile */
			  -webkit-animation-name: spin;
			  -webkit-animation-duration: 3s; /* 3 seconds */
			  -webkit-animation-iteration-count: infinite;
			  -webkit-animation-timing-function: linear;

			  /* mozilla ff */
			  -moz-animation-name: spin;
			  -moz-animation-duration: 3s; /* 3 seconds */
			  -moz-animation-iteration-count: infinite;
			  -moz-animation-timing-function: linear;

			  /* microsoft ie */
			  -ms-animation-name: spin;
			  -ms-animation-duration: 3s; /* 3 seconds */
			  -ms-animation-iteration-count: infinite;
			  -ms-animation-timing-function: linear;
		}
